
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  #home {
    background-image: url('https://scontent.fmnl14-1.fna.fbcdn.net/v/t39.30808-6/487492916_1087563253413493_5858851586882606035_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeG9daEjVMvfVOh4JqjHogYPcEWvpGU-mcdwRa-kZT6Zxy1ZQsxsG_bT_s0pYXJDb_w&_nc_ohc=W5Ws1cj9cNMQ7kNvwECFUYb&_nc_oc=AdkNB3qCwzmBOITdF1uxDjFEkt05qbeJ9bnJvkWOUlJ4iM4BvYQzS7ZCUkUA2AGrnqo&_nc_zt=23&_nc_ht=scontent.fmnl14-1.fna&_nc_gid=cd0M4U62U53GkXrFmeytuw&oh=00_AfJytyjMwKZaPS-CRnNYGQk5o4jwiys_D25HVsFw3xXSKg&oe=68389C62');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #project {
    background-image: url('https://static.wikitide.net/projectsekaiwiki/4/45/Ena%27s_SEKAI.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #contact {
    background-color: #6c757d;
    height: 100vh;
    color: white;
  }
  
  .profile-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .section-title {
    font-family: 'Montserrat', sans-serif;
    background-color: red;
    padding: 1rem 0;
    margin: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 4rem;
  }